.sidebar {
  position: fixed;
  margin-top: 60px;
  left: 0px;
  height: 100%;
  width: 260px;
  background: #365371;
  z-index: 100;
  transition: all 0.5s ease;
  color: white;
}

.sidebar.close {
  width: 78px;
}

.sidebar.close .nav-links .h4{
  opacity: 0;
}

.sidebar .nav-links {
  height: 100%;
  padding: 30px 0 150px 0;
  overflow: auto;
}

.sidebar.close .nav-links {
  overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
  display: none;
}

.sidebar .nav-links li {
  position: relative;
  list-style: none;
  transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
  background: #2a4058;
}

.sidebar .nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.sidebar .nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.sidebar .nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}


.sidebar.close .nav-links li a .link_name {
  opacity: 0;
  pointer-events: none;
}

