<section style="background-color: #F9FDFF;">
    <div class="container py-5">
        <h2 class="mb-3">Update Information:</h2>
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Employee Id</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{employee.empId}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Employee Type</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{employee.role}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Email</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{employee.email}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Created By</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{createdBy}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-2">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Created On</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{employee.createdOn.slice(0,10)}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                        <div class="form-group row">
                            <label class="col-4">Updated On</label>
                            <div class="col-8">
                                <p class="text-muted mb-0">{{employee.updatedOn}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card" style="margin-top: 20px;">
            <div class="card-body">
                <form (ngSubmit)="onSubmit()">
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="firstName">First Name</label>
                                <div class="col-8">
                                    <input type="text" id="firstName" class="form-control"
                                        [(ngModel)]="newEmployee.firstName" name="firstName" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="lastName">Last Name</label>
                                <div class="col-8">
                                    <input type="text" id="lastName" class="form-control"
                                        [(ngModel)]="newEmployee.lastName" name="lastName" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="dob">Date of Birth</label>
                                <div class="col-8">
                                    <input type="text" id="dob" class="form-control" [(ngModel)]="newEmployee.dob"
                                        name="dob" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6" *ngIf="role!='EMPLOYEE'">
                            <div class="form-group row">
                                <label class="col-4" for="role">Role</label>
                                <div class="col-8">
                                    <select id="role" class="form-select" [(ngModel)]="newEmployee.role" name="role">
                                        <option>Select role</option>
                                        <option value="employee">Employee</option>
                                        <option value="admin">Admin</option>
                                        <option value="superadmin" *ngIf="role=='SUPER-ADMIN'">Superadmin</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="addressLine1">Address Line 1</label>
                        <div class="col-sm-6">
                            <input type="text" id="addressLine1" class="form-control"
                                [(ngModel)]="newEmployee.address.addressLine1" name="addressLine1" required>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="addressLine2">Address Line 2</label>
                        <div class="col-sm-6">
                            <input type="text" id="addressLine2" class="form-control"
                                [(ngModel)]="newEmployee.address.addressLine2" name="addressLine2" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="city">City</label>
                                <div class="col-8">
                                    <input type="text" id="city" class="form-control"
                                        [(ngModel)]="newEmployee.address.city" name="city" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="state">State:</label>
                                <div class="col-8">
                                    <input type="text" id="state" class="form-control"
                                        [(ngModel)]="newEmployee.address.state" name="state" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label class="col-sm-2 col-form-label" for="pincode">Pincode:</label>
                        <div class="col-sm-4">
                            <input type="text" id="pincode" class="form-control"
                                [(ngModel)]="newEmployee.address.pincode" name="pincode" required>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="role">Contact Type</label>
                                <div class="col-8">
                                    <select id="contactType" class="form-select"
                                        [(ngModel)]="newEmployee.contact.contactType" name="contactType">
                                        <option value="Personal">Personal</option>
                                        <option value="Primary">For work</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="contactNumber">Contact Number</label>
                                <div class="col-8">
                                    <input type="text" id="contactNumber" class="form-control"
                                        [(ngModel)]="newEmployee.contact.number" name="contactNumber" required>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="bloodGroup">Blood Group</label>
                                <div class="col-8">
                                    <input type="text" id="bloodGroup" class="form-control"
                                        [(ngModel)]="newEmployee.bloodGroup" name="bloodGroup" required>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="gender">Gender</label>
                                <div class="col-8">
                                    <select id="gender" class="form-select" [(ngModel)]="newEmployee.gender"
                                        name="gender">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="martialStatus">Marital Status</label>
                                <div class="col-8">
                                    <select id="martialStatus" class="form-select"
                                        [(ngModel)]="newEmployee.martialStatus" name="martialStatus">
                                        <option value="Single">Single</option>
                                        <option value="Married">Married</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6">
                            <div class="form-group row">
                                <label class="col-4" for="active">Active status</label>
                                <div class="col-8">
                                    <select id="active" class="form-select" [(ngModel)]="newEmployee.active"
                                        name="active">
                                        <option value=true>Active</option>
                                        <option value=false>Not-active</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="submit mt-3" style="justify-content: center; text-align: center;">
                        <button type="submit" class="btn btn-outline-primary">Update Information</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>