.update{
    border: solid 1px #2a4058;
    color: #2a4058;
}
.update:hover{
    background-color: #CDE5FF;
    border: solid 1px #213449;
    color: #000E1D;
}
.form-inline {
    display: flex;
    align-items: center;
}
  
.form-inline input, .form-inline button {
    margin-right: 10px;
}
  