<section>
    <div class="head" style="margin: 10px 10px 0 10px;">
        <span style="font-weight: 400; font-size: 30px;">Update Password:</span>
        <button type="button" class="btn btn-outline-danger" aria-label="Close" (click)="passBack()" style="float: right;">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="container py-3">
        <div class="current">
            <span>Current Password:</span>
            <div class="password-container">
                <input type="password" name="currentPassword" id="currentPassword" class="form-control" [(ngModel)]="currentPassword" placeholder="Current Password" required (keyup.enter)="checkCurrent()" [type]="showCurrentPassword ? 'text' : 'password'">
                <span class="password-toggle" (click)="viewPassword('currentPassword')">
                    <i class="fa" [ngClass]="showCurrentPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                </span>
            </div>
            <span *ngIf="showCurrentPasswordMatch==true" style="color: green;">Password matched</span>
            <span *ngIf="showCurrentPasswordNotMatch==true" style="color: red;">Password not match</span>
        </div>
        <div class="newPassword" style="margin-top: 20px;">
            <span>New Password:</span>
            <div class="password-container">
                <input type="password" name="newPassword" id="newPassword" class="form-control" placeholder="New Password" [(ngModel)]="newPassword" required (keyup.enter)="checkConfirmPassword()" [type]="showNewPassword ? 'text' : 'password'">
                <span class="password-toggle" (click)="viewPassword('newPassword')">
                    <i class="fa" [ngClass]="showNewPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                </span>
            </div>
            <span *ngIf="showSamePassword==true" style="color: red;">Current and New password are same.</span>
        </div>
        <div class="confirmPassword" style="margin-top: 20px;">
            <span>Confirm New Password:</span>
            <div class="password-container">
                <input type="password" name="confirmPassword" id="confirmPassword" class="form-control" [(ngModel)]="confirmPassword" placeholder="Confirm Password" required (keyup.enter)="checkConfirmPassword()" [type]="showConfirmPassword ? 'text' : 'password'">
                <span class="password-toggle" (click)="viewPassword('confirmPassword')">
                    <i class="fa" [ngClass]="showConfirmPassword ? 'fa-eye-slash' : 'fa-eye'" aria-hidden="true"></i>
                </span>
            </div>
            <span *ngIf="showNotSameMessage==true" style="color: red;">Password doesn't match.</span>
        </div>
    </div>
    <div class="submit" style="justify-content: center; text-align: center; margin-bottom: 20px;">
        <button class="btn btn-outline-success" [disabled]="!showButton()" (click)="changePassword()">Change Password</button>
    </div>
</section>
